# Runtime data
grafana/data/
loki/data/chunks/
loki/data/tsdb-shipper-*/
loki/data/wal/
loki/data/compactor/
loki/data/rules/
fluent-bit/buffer/

# Python virtual environment
.venv/

# Binary artifacts
*.bin
*.kfpkg
